# first install PyTorch with desired CPU or GPU support: https://pytorch.org/get-started/locally/
transformers==4.52.0
Flask==2.0.1

urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
